<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body class="home">
<%- include('./partials/nav.ejs') %>
    <h1 class="h1">Personal blog</h1>
    <p>Build with Node JS, Express, EJS, MongoDB</p>
</body>
</html>