<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')%>
<body class="body">
<%- include('./partials/nav.ejs') %>
<div class="card">
    <footer>
        <span>29.01.23</span>
        <span id="name">Tanya</span>
    </footer>
    <div class="card-header"><h2>Post title</h2></div>
    <div class="card-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab adipisci aspernatur ex, ipsa laboriosam maxime nesciunt nulla odit praesentium, provident reprehenderit sunt unde? Aspernatur beatae consectetur debitis eius enim, eum impedit ipsum iste, modi nemo nihil nobis non possimus praesentium quas quia quos sed velit! Exercitationem iusto maxime soluta vel!</p>
    </div>
</div>
</body>
</html>